body {
  font-family: 'Roboto', sans-serif;
  background: #333333;
  font-weight: 300;
}

.red {
  color: red;
}

.bg-red {
  background: red;
}

.white {
  color: #fff;
}

.navbar {
  font-weight: 100;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  &-brand h3 {
    font-weight: 300;
  }
  .nav-item {
    font-size: 0.9rem;
  }

  .nav-link {
    color: #fff !important;
  }

  .nav-link:hover {
    color: red !important;
    transition: all 0.2s;
  }
}

.bg-video {
  height: auto;
  width: 100%;
  opacity: 0.3;
  background: rgba(0, 0, 0, 0.9);
}

.carousel-title {
  text-transform: uppercase;
  font-weight: 700;
}

.carousel-item {
  position: relative;
}

.carousel-caption {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron {
  background: red;
  color: white;
}

.container-about {
  background-size: cover;

  color: white;
  &-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../img/gloves-wrap.jpeg);
  }
  &-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../img/barbell.jpeg);
  }
  &-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../img/leg-press.jpeg);
  }
  &-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../img/kickboxer.jpeg);
  }
  &-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../img/dumbell-girl.jpeg);
  }
  &-6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../img/healthy-food.jpeg);
  }
}

.container-danny {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/plates.jpeg);
  background-size: cover;
}

@media (max-width: 768px) {
  .navbar {
    background: #333333;
  }
}

@media (max-width: 992px) {
  .container-danny {
    font-size: 0.9rem;
  }
}
